<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="env.default" value="tst"/>
		<add key="tst.app.site.url" value="https://farmersfz.com/"/>
		<add key="tst.app.username" value="user"/>
		<add key="tst.app.password" value="Pwd123"/>
		<add key="app.enable.remote.test" value="false" />
		<add key="tst.app.remote.driver.uri" value="AST005"/>
	</appSettings>
</configuration>